ALTER TABLE public.electricity_daily_production ADD COLUMN IF NOT EXISTS failers JSONB DEFAULT '{}'::jsonb;
ALTER TABLE public.water_daily_production ADD COLUMN IF NOT EXISTS failers JSONB DEFAULT '{}'::jsonb;
